<%
  preferences = @registration.preferences.select { |p| p.session.starts_at == session.starts_at }
  preference = preferences.find { |p| p.session_id == session.id }
  waitlisted = preference ? preferences.select { |p| p.position < preference.position }.sort_by(&:position) : []
%>

<div style="margin: 0 0 1.5rem">
  <div style="font-size: 1.125rem"><%= session.activity.name %> <%= "(two slots)" if session.session_slots.size > 1 %></div>
  <div class="subtle">
    <%= l session.starts_at, format: :friendly %> – <%= l session.ends_at, format: :short %> <%= session.venue ? "in #{session.venue.room}" : "(venue TBC)" %>
  </div>
  <% if waitlisted.any? -%>
    <p style="margin-top: 0.5rem">
      This is your <%= %w(first second third fourth fifth)[preference.position - 1] %> choice for this timeslot.
      You have been waitlisted for the following workshops:
    </p>
    <ul style="margin: 0; padding: 0">
      <% waitlisted.each do |p| %>
        <li><%= p.session.activity.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>
