<p>
  Kia ora <%= @user.profile.name %>,
<p>
<p>
  Here is your confirmed list of workshops for NZIF <%= @festival.year %>.
  You can always see an up-to-date list of your workshops on your
  individual
  <%= link_to "calendar page", personal_calendar_url %>.
</p>
<div class="left-pink-border">
  <%= render partial: 'session', collection: @registration.sessions.sort_by(&:starts_at) %>
</div>
<% if @removed.any? %>
<p>
  You have been <b>removed</b> from the following <%= 'workshop'.pluralize(@removed.size) %>:
</p>
<div class="left-pink-border">
  <%= render partial: 'removed', collection: @removed %>
</div>
<% end %>
<% if @empty_slots.any? %>
  <p>
    Unfortunately, we were unable to place you in any workshops in the following timeslots.
    You have been waitlisted for the workshops listed, and we’ll notify you if a spot becomes available.
  </p>
  <div class="left-blue-border" style="margin-bottom: 1.5rem">
    <% @empty_slots.each_pair do |slot, preferences| %>
      <div style="color: #61646d;"><%= l slot, format: :friendly %></div>
      <ul style="margin: 0; padding: 0">
        <% preferences.each do |p| %>
          <li><%= p.session.activity.name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
<% if @cart.workshops_count.positive? %>
  <p>
    Your total registration fee is as follows. Note that full-day workshops are counted as two slots.
  </p>
  <%= render partial: 'cart', locals: { cart: @cart, registration: @registration } %>
<% end %>
<p>
  If we manage to slot you into a workshop from a waitlist, we’ll notify you by email and/or text message.
  The cost of the workshop will be added to your registration fee, and you can pay the difference by
  visiting your registration page. Please pay this as soon as possible. For more information about
  waitlists, please see our <a href="https://my.improvfest.nz/about/faq">FAQ</a>.
</p>
<p>
  If you need to withdraw from a workshop more than 48 hours before it starts, we will give you a full
  refund (settled after the Festival takes place). If you withdraw from a workshop less than 48 hours
  before it starts, we cannot offer refunds. This is to ensure that whoever is next in the waitlist
  gets enough notice that they're in.
</p>
<p>
  If you need to withdraw with less than 48 hours' notice due to something that isn't your fault
  (illness, emergency, etc), please email us (<a href="mailto:hello@improvfest.nz">hello@improvfest.nz</a>)
  and we'll see what we can do.
</p>
<p>
  As a registered participant, you have access to discounted show tickets with the code
  <b>HERE25</b>. Please do not share this code with anyone or post it online (even in
  our Facebook group).
</p>
<p>
  If you have any questions, please reply to this message, or email us at
  <a href="mailto:registrations@improvfest.nz">registrations@improvfest.nz</a>.
<p>
<p>
  We’re so looking forward to seeing you in October!
</p>
<p>
  Ngā mihi nui,<br />
  Matt and Jim<br/>
  NZIF 2025 Artistic Co-Directors
</p>
