<!DOCTYPE html>
<html>
  <head>
    <title>NZIF</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'frontend.tsx' %>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>
  <body data-env="<%= Rails.env %>" data-theme="light">
    <%= render partial: '/shared/filter' %>
    <%= yield %>
    <div id="root" />
  </body>
</html>
