<!DOCTYPE html>
<html>
  <head>
    <title>NZIF</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'application.tsx' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <svg style="display: none">
      <filter id="duotone-light">
        <feColorMatrix
          type="matrix"
          values=".33 .33 .33 0 0 .33 .33 .33 0 0 .33 .33 .33 0 0 0 0 0 1 0"
        />
        <feComponentTransfer colorInterpolationFilters="sRGB">
          <feFuncR type="table" tableValues=".914 .973"></feFuncR>
          <feFuncG type="table" tableValues=".239 .903"></feFuncG>
          <feFuncB type="table" tableValues=".509 .546"></feFuncB>
        </feComponentTransfer>
      </filter>
      <filter id="duotone-dark">
        <feColorMatrix
          type="matrix"
          values=".33 .33 .33 0 0 .33 .33 .33 0 0 .33 .33 .33 0 0 0 0 0 1 0"
        />
        <feComponentTransfer colorInterpolationFilters="sRGB">
          <feFuncR type="table" tableValues=".025 .439"></feFuncR>
          <feFuncG type="table" tableValues=".219 .366"></feFuncG>
          <feFuncB type="table" tableValues=".268 .003"></feFuncB>
        </feComponentTransfer>
      </filter>
    </svg>
    <%= yield %>
    <div id="root" />
  </body>
</html>
